*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}


/*header-start*/

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.header__menu-toggle,
.header__menu-btn {
    display: none;
}

.header {
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 44px;
    color: #e8603c;
}

.logo__RO {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 44px;
    color: #f3af9d;
}

.header__list-item>a {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 20px;
    color: #cacaca;
}

.header__list-item_active>a,
.header__list-item>a:hover,
.header__list-item>a:active {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 20px;
    color: #e8603c;
}

.header__list {
    width: 390px;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 961px) {
    .header{
        padding:0 20px;
    }
}


@media(max-width: 600px) {
    .header {
        padding: 0 20px;
    }
    .header__menu-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 20px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 1;
    }
    .header__menu-toggle{
        border:0;
        outline: 0;
    }
    .header__menu-btn>span,
    .header__menu-btn>span::before,
    .header__menu-btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #e8603c;
        transition-duration: .25s;
    }
    .header__menu-btn>span::before {
        content: '';
        top: -15px;
    }
    .header__menu-btn>span::after {
        content: '';
        top: 15px;
    }
    .header__list {
        display: none;
        text-align: center;
    }
    .header__list-item>a {
        font-size: 30px;
        color: white;
    }
    .header__list-item_active>a,
    .header__list-item>a:active,
    .header__list-item>a:hover{
        color: #e8603c;
        font-size: 30px;
    }
    #header__menu-toggle:checked~.header__menu-btn>span {
        transform: rotate(45deg);
    }
    #header__menu-toggle:checked~.header__menu-btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #header__menu-toggle:checked~.header__menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #header__menu-toggle:checked~.header__nav>.header__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 78px;
        right: 0px;
        width: 150px;
        min-height: 210px;
        background-color: #f3af9d;
        z-index: 100;
    }
}


/*header-end*/

/*main-decorate-elements-start */
.big-wrapper{
    display:flex;
}

/*fix-start  delete margin-right in fancybox*/
.compensate-for-scrollbar{
    margin-right:0 !important;
}
/* fix-end*/

.big-wrapper>.wrapper{
    width:940px;
}

@media(max-width: 980px){
    .big-wrapper>.wrapper{
        width:100%;
    }
}
.main-decorate-element-left,
.main-decorate-element-right {
    width: calc((100% - 960px)/2);
    height: 65px;
    background-color: #f2ae9c;
    display: inline-block;
}


.main-decorate-element-right {
    width: calc((100% - 960px)/2);
    height: 65px;
    background-color: #f2ae9c;
    display: inline-block;
}

.main-decorate-element-left {
    margin-right: 10px;
}

.main-decorate-element-right {
    margin-left: 10px;
}

@media(max-width: 978px) {
    .big-wrapper {
        display: block;
    }
    .main-decorate-element-left,
    .main-decorate-element-right {
        display: none;
    }
}
/*main-decorate-elements-end */


/*main-start*/
.main{
    display:grid;
    grid-template-columns: 10fr 220px;
    grid-template-rows: 65px auto;
    grid-column-gap: 2vw;

}
/*title-start*/
.title{
    width: 100%;
    height: 65px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    grid-column: 1 / 3;

    background-color: #e8603c;
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue';
    line-height: 1.333;
    font-weight: 700;
    letter-spacing: 2px;
}

/*title-end*/
@media(max-width: 961px) {
.main__left-part{
grid-column: 1/3;
padding:0 20px;
}
.main__right-part{
    grid-column: 1/3;
    padding:0 20px;
}
}


/*map-start*/
.map{
    margin-top:26px;
    grid-column: 1/2;
}
.map>iframe{
    width:100%;
    height:403px;
}

/*map-end*/

.details-and-form{
    display:grid;
    grid-column: 1/2;
    grid-template-columns: 180px 1fr;
    grid-column-gap: 20px;
    margin-top:37px;
}

.details{
    font-size: 12px;
    font-family: 'HelveticaNeueCyr';
    line-height: 1.333;
    font-weight: 500;
}

.details__orange-text{
    color: #e8603c;
}
@media(max-width: 505px) {

    .details{
        grid-column: 1/3;
        text-align:center;
        margin-bottom:40px;
    }

    form{
        grid-column: 1/3;
    }

}


/*form-start*/

form{
    height:383px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:35px;
}

[type="text"]{
    width:220px;
    height:34px;
    padding-left:10px;
    vertical-align:center;
    border:3px solid #e8603c;
    outline: 0;
}
textarea{
    width:100%;
    height:208px;
    padding-left:10px;
    border:3px solid #e8603c;
    outline:0;
}

button{
    width:88px;
    height:40px;
    color:white;
    background-color: #e8603c;

    font-size: 18px;
    font-family: 'Bebas Neue';
    line-height: 1.333;
    font-weight: 700;
    letter-spacing: 1px;
    outline:0;
}
/*form-end*/


/*aside-start*/

.aside {
    margin-top: 27px;
    grid-column: 2 / 3;
    margin-bottom:50px;
}
.photogallery{
    min-height:110px;
}
.decorate-element {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 20px;
    margin-bottom: 15px;
}

.decorate-element__name {
    display: flex;
    align-items: center;
    color: #e8663c;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-right: 10px;
}

.decorate-element__line {
    background-color: #F2F2F2;
}

.aside__text {
    margin: 25px 0px;
    font-size: 12px;
    font-family: "HelveticaNeueCyr";
    line-height: 1.5;
    font-weight: 500;
}

.photos-200x200{
    display:none;
}

.photos-50x50 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    min-height:107px;
}

@media(max-width: 961px) {

    .photos-50x50{
        display:none;
    }
    .photos-200x200{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}
@media(max-width: 595px) {
    .aside {
        grid-column: 1 / 3;
    }
    .photos-50x50{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .photos-200x200{
        display:none;
    }
}

/*aside-end*/






/*main-end*/



/*footer-decorate-elements-start */
.big-wrapper{
    display:flex;
}

.footer-decorate-element-left,
.footer-decorate-element-right{
    width:calc((100% - 960px)/2);
    height:265px;

    background-color: #f2ae9c;
}



.footer-decorate-element-left{
    margin-right:10px;
}
.footer-decorate-element-right{
    margin-left:10px;
}
@media(max-width: 950px){
    .big-wrapper{
        display:block;
    }
    .footer-decorate-element-left,
    .footer-decorate-element-right{
        display:none;
    }
}
/*footer-decorate-elements-end */

/*footer-start*/

.footer{
    min-height:265px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 18vw;
    background-color: #e8663c;
}

.footer__about{
    display:grid;
    grid-template-rows: 90px auto;
    margin-left:36px;
    width:75%;
    
}
.about__title,
.contacts__title{
    padding-top:35px;
    padding-bottom:35px;
    color: white;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
}

.about__text-1{
    color: white;
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.333; 
}

.footer__contacts{
    display:grid;
    grid-template-rows: 90px 60px 47px 1fr;
    
}


.contacts__text-1,
.contacts__text-2{
    color: white;
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.333; 
}


.contacts__social-media{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    width:166px;
}
.social-media__link{
    display:block;
}

@media(max-width: 452px){
    .footer__about{
        grid-column:1/3;
    }
    .footer__contacts{
        grid-column:1/3;
        margin-left:36px;
    }

}
/*footer-end*/